.photos-section {
  
  background-color: $black;
  
  .galleria {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 12rem;
    padding-bottom: 1rem;
    background: $black;
  }
  @media (min-width: 992px) {
    .galleria{ 
      width: 60rem;
      height: 36rem;
    }
  } 

}
