<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Website for the Globalkan balkan jazz band">
  <meta name="author" content="">

  <title>Globalkan</title>

  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a id="mainLogo" class="navbar-brand js-scroll-trigger" href="#page-top">Globalkan</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#video">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#concerts">Concerts</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#press">Press</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-end">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">Globalkan</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ page.slogan }}</h2>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto text-white">
          <h1 class="mb-4">About</h1>
          {{ page.about | markdownify }}
        </div>
      </div>
    </div>
  </section>


  <section id="video" class="video-section even text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h1 class="text-black mb-4">Music</h1>

          <h2 class='text-black'>Live on Youtube</h2>
          <div class="youtube">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLzMCFm1tKkX4XQmXSY8pQDUsRT-dVtLIX"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <br>
          <h2 class='text-white'>Listen on Soundcloud</h2>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/706337440&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <br>
          <h2 class='text-white'>Buy on Apple Music</h2>
          <div id='ibb-widget-root-1480514491'></div>
          <script>(function (t, e, i, d) { var o = t.getElementById(i), n = t.createElement(e); o.style.height = 50; o.style.width = 320; o.style.display = 'inline-block'; n.id = 'ibb-widget', n.setAttribute('src', ('https:' === t.location.protocol ? 'https://' : 'http://') + d), n.setAttribute('width', '320'), n.setAttribute('height', '50'), n.setAttribute('frameborder', '0'), n.setAttribute('scrolling', 'no'), o.appendChild(n) })(document, 'iframe', 'ibb-widget-root-1480514491', "banners.itunes.apple.com/banner.html?partnerId=&aId=&bt=catalog&t=smart_color&id=1480514491&c=us&l=en-US&w=320&h=50&store=appleMusic");</script>

        </div>
      </div>
    </div>
  </section>

  <section id="photos" class="photos-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h1 class="text-white mb-4">Photos</h1>
          <div class="galleria">
            <img src="img/gallery/59982816_10219144979279221_5042444424735358976_n.jpg">
            <img src="img/gallery/60026454_10219144979559228_3566313200741777408_n.jpg">
            <img src="img/gallery/60342520_2341558369199350_5122944318159454208_o.jpg">
            <img src="img/gallery/60352598_2341558965865957_2205672732509601792_o.jpg">
            <img src="img/gallery/60697148_2341558802532640_1283035734952902656_o.jpg">
            <img src="img/gallery/60804181_2341559219199265_3720924399830827008_o.jpg">
            <img src="img/gallery/60931985_2341559725865881_7125883109555306496_o.jpg">
            <img src="img/gallery/62355880_10219374346253252_21338016001818624_n.jpg">
            <img src="img/gallery/62560632_10219374345373230_3555213145528074240_n.jpg">
            <img src="img/gallery/62632475_10219374345653237_4452128103640072192_n.jpg">
            <img src="img/gallery/66653686_2400495409989490_2695293107263504384_o.jpg">
            <img src="img/gallery/66744072_10219633243205514_4059860468389380096_n.jpg">
            <img src="img/gallery/66784303_10219633252245740_2224427566201044992_o.jpg">
            <img src="img/gallery/66852657_10219633245085561_2272521922786885632_n.jpg">
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Concerts Section -->
  <section id="concerts" class="concerts-section bg-light text-center">
    <div class="container">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-12 mx-auto">
          <h1 class="text-black mb-4">Concerts</h1>
          <div class="fb-page" data-href="https://www.facebook.com/pg/GLOBALKAN2017" data-tabs="events" data-width="500"
            data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
            data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/pg/GLOBALKAN2017" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/pg/GLOBALKAN2017">GLO BAL KAN Project</a></blockquote>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- <section id="press" class="press-section odd text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h1 class="text-white mb-4">In the press</h1>
        </div>
      </div>
    </div>
  </section> -->


  <!-- Contact Section -->
  <section id="contact" class="contact-section text-center">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h1 class="text-white mb-4">Contacts</h1>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Sofia, Bulgaria</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">baynedyal@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://www.facebook.com/GLOBALKAN2017/" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/user/1Nedyalko" class="mx-2">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/globalkan7/" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Nedyalko Nedyalkov 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
  <script>
    (function () {
      Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
      Galleria.run('.galleria');
    }());
  </script>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>

</body>

</html>